@model MouseDetailsExportViewModel

<div class="card col-4" style="width: 20rem;">

	@if (Model.ImageUrl is not null)
	{
		<img class="card-img-top" src="@Model.ImageUrl" alt="Mouse image">
	}

	<div class="card-body text-center">
		<h4 class="card-title mt-2 mb-3">@Model.Brand</h4>
		@if (Model.IsWireless)
		{
			<p class="mb-0"><b>Wireless: <label>✔</label></b></p>
		}
		else
		{
			<p class="mb-0"><b>Wireless: <label>❌</label></b></p>
		}
		<p class="mb-0"><b>Type: @Model.Type</b></p>
		<p class="mb-0"><b>Sensitivity range: @Model.Sensitivity</b></p>
		<p class="mb-2">Color: @Model.Color</p>
		<p class="text-success mb-2"><b>On sale from: @Model.AddedOn</b></p>
		<p class="text-success mb-2"><b>Quantity: @Model.Quantity</b></p>
		<p class="text-success mb-3"><b>Price: @String.Format("{0:f2}", Model.Price) EUR</b></p>

		@if ((this.User?.Identity?.IsAuthenticated ?? false)
				&& (this.User.IsInRole(SuperUser) && Model.Seller is not null && this.User.Id() == Model.Seller.UserId))
		{
			<a asp-controller="Mouse" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
			<a asp-controller="Mouse" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"
		   onclick="return confirm('Are you sure you want to delete mouse @Model.Brand')">Delete</a>
		}
	</div>
</div>