@model MicrophoneImportViewModel

@{
	ViewData["Title"] = "Add a microphone";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<div class="mb-3">
				<label asp-for="@Model.Brand" class="form-label">Brand <sup>(required)</sup></label>
				<input asp-for="@Model.Brand" class="form-control" aria-required="true" placeholder="Enter brand" />
				<span asp-validation-for="Brand" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Quantity" class="form-label">Quantity <sup>(required)</sup></label>
				<input asp-for="@Model.Quantity" class="form-control" aria-required="true" placeholder="1" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Price" class="form-label">Price <sup>(required)</sup></label>
				<input asp-for="@Model.Price" class="form-control" aria-required="true" placeholder="50.00" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>

			@if ((this.User?.Identity?.IsAuthenticated ?? false)
					&& this.User.IsInRole(Administrator))
			{
				<div class="mb-3">
					<label asp-for="@Model.Warranty" class="form-label">Warranty (in months) <sup>(required)</sup></label>
					<input asp-for="@Model.Warranty" class="form-control" placeholder="12" />
					<span asp-validation-for="Warranty" class="text-danger"></span>
				</div>
			}

			<div class="mb-3">
				<label asp-for="@Model.Color" class="form-label">Microphone color</label>
				<input asp-for="@Model.Color" class="form-control" placeholder="Black" />
				<span asp-validation-for="Color" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.ImageUrl" class="form-label">Microphone image URL <sup>(highly recommended)</sup></label>
				<input asp-for="@Model.ImageUrl" class="form-control" placeholder="https://laptop.bg/system/images/296698/double/lenovo_ideapad_3_15_ultraslim_gen_6_82KU004NBM.png" />
				<span asp-validation-for="ImageUrl" class="text-danger"></span>
			</div>

			<div class="text-center mb-3">
				<input class="btn btn-primary" type="submit" value="Add" />
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
