@model HeadphoneEditViewModel

@{
    ViewData["Title"] = "Edit headphone";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            @Html.HiddenFor(l => l.Id)
            <div class="mb-3">
                <label asp-for="@Model.Brand" class="form-label">Brand <sup>(required)</sup></label>
                <input asp-for="@Model.Brand" class="form-control" aria-required="true" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.IsWireless" class="form-label">Wireless <sup>(required)</sup></label>
                <select asp-for="@Model.IsWireless" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsWireless" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.HasMicrophone" class="form-label">Microphone <sup>(required)</sup></label>
                <select asp-for="@Model.HasMicrophone" class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="HasMicrophone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Type" class="form-label">Type <sup>(required)</sup></label>
                <input asp-for="@Model.Type" class="form-control" aria-required="true" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Quantity" class="form-label">Quantity <sup>(required)</sup></label>
                <input asp-for="@Model.Quantity" class="form-control" aria-required="true" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price <sup>(required)</sup></label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @if ((this.User?.Identity?.IsAuthenticated ?? false)
            && this.User.IsInRole(Administrator))
            {
                <div class="mb-3">
                    <label asp-for="@Model.Warranty" class="form-label">Warranty (in months) <sup>(required)</sup></label>
                    <input asp-for="@Model.Warranty" class="form-control" />
                    <span asp-validation-for="Warranty" class="text-danger"></span>
                </div>
            }

            <div class="mb-3">
                <label asp-for="@Model.Color" class="form-label">Headphone color</label>
                <input asp-for="@Model.Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Headphone image URL <sup>(highly recommended)</sup></label>
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="text-center mb-3">
                <input class="btn btn-primary" type="submit" value="Save changes" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
