@model IEnumerable<LaptopExportViewModel>

<table class="table table-striped table-hover mt-5">
	<thead>
		<tr class="table-primary">
			<td>Brand</td>
			<td>CPU</td>
			<td>RAM</td>
			<td>SSD</td>
			<td>Video card</td>
			<td>Display size</td>
			<td>Warranty</td>
			<td>Price</td>
			<td>View</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var laptop in Model)
		{
			<tr>
				<td>@laptop.Brand</td>
				<td>@laptop.CPU</td>
				<td>@laptop.RAM GB</td>
				<td>@laptop.SSDCapacity GB</td>
				<td>@laptop.VideoCard</td>
				<td>@laptop.DisplaySize inches</td>
				<td>
					@if (laptop.Warranty > 0)
					{
						<p>@laptop.Warranty months</p>
					}
					else
					{
						<p>Second hand</p>
					}
				</td>
				<td>@String.Format("{0:f2}", laptop.Price) EUR</td>
				<td>
					<a asp-controller="Laptop" asp-action="Details" asp-route-id="@laptop.Id" class="btn btn-primary">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
