@model IEnumerable<LaptopExportViewModel>

@{
	ViewData["Title"] = "All laptops";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

@if ((this.User?.Identity?.IsAuthenticated ?? false) && (this.User.IsInRole(Administrator)))
{
	<div class="text-center">
		<a asp-controller="Laptop" asp-action="Add" class="btn btn-primary">Add a laptop</a>
	</div>
}

@if ((this.User?.Identity?.IsAuthenticated ?? false) && this.User.IsInRole(SuperUser))
{
	<div class="text-center">
		<a asp-controller="Laptop" asp-action="Add" class="btn btn-primary">Add a laptop</a>

		@if (Model.Any())
		{
			<a asp-controller="Laptop" asp-action="MyLaptops" class="btn btn-success">My laptops</a>
		}
	</div>
}

@if (Model.Any())
{
	<table class="table table-striped table-hover mt-5">
		<thead>
			<tr class="table-primary">
				<td>Brand</td>
				<td>CPU</td>
				<td>RAM</td>
				<td>SSD</td>
				<td>Video card</td>
				<td>Price</td>
				<td>Display size</td>
				<td>Warranty</td>
				<td>View</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var laptop in Model)
			{
				<tr>
					<td>@laptop.Brand</td>
					<td>@laptop.CPU</td>
					<td>@laptop.RAM GB</td>
					<td>@laptop.SSDCapacity GB</td>
					<td>@laptop.VideoCard</td>
					<td>@laptop.Price EUR</td>
					<td>@laptop.DisplaySize inches</td>
					<td>
						@if (laptop.Warranty > 0)
						{
							<p>@laptop.Warranty months</p>
						}
						else
						{
							<p>Second hand</p>
						}
					</td>
					<td>
						<a asp-controller="Laptop" asp-action="Details" asp-route-id="@laptop.Id" class="btn btn-primary">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<h3 class="text-center mt-5">Sorry, we don't have any laptops right now...</h3>
}
