@model AllLaptopsQueryModel

@{
	ViewData["Title"] = "Laptops";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

<partial name="_IndexButtonsPartial" model="@Model.Laptops" />

<br />

<form method="get">
	<div class="row">
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Cpu">CPU model</label>
				<select asp-for="Cpu" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.Cpus)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Ram">RAM</label>
				<select asp-for="Ram" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.Rams)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="SsdCapacity">SSD capacity</label>
				<select asp-for="SsdCapacity" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.SsdCapacities)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="VideoCard">Video card model</label>
				<select asp-for="VideoCard" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.VideoCards)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Keyword">Search by a keyword</label>
				<input asp-for="Keyword" class="form-control" placeholder="...">
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Sorting">Sort by</label>
				<select asp-for="Sorting" class="form-control">
					<option value="0">Newest</option>
					<option value="1">Brand</option>
					<option value="2">Price(from min to max)</option>
					<option value="3">Price(from max to min)</option>
				</select>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="form-group mt-4 p-2">
			<input type="submit" value="Search" class="btn btn-success" />
		</div>
	</div>
</form>

@if (!Model.Laptops.Any())
{
	<h3 class="text-center mt-5">No laptops found by the given criteria!</h3>
}
else
{
	if (Model.TotalLaptopsCount == 1)
	{
		<h4 class="text-center mt-4">@Model.TotalLaptopsCount laptop found by the given criteria!</h4>
	}
	else
	{
		<h4 class="text-center mt-4">@Model.TotalLaptopsCount laptops found by the given criteria!</h4>
	}

	<div class="row">
		<partial name="_IndexTablePartial" model="@Model.Laptops" />
	</div>

	var previousPage = Model.CurrentPage - 1;

	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalLaptopsCount / LaptopsPerPage);

	<div class="row mt-3">
		<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
			<a class="btn btn-warning @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Laptop"
		   asp-action="Index"
		   asp-route-currentPage="@previousPage"
		   asp-route-cpu="@Model.Cpu"
		   asp-route-ram="@Model.Ram"
		   asp-route-ssdCapacity="@Model.SsdCapacity"
		   asp-route-videoCard="@Model.VideoCard"
		   asp-route-keyWord="@Model.Keyword"
		   asp-route-sorting="@((int)Model.Sorting)">Prev</a>
		</div>

		@{
			var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Laptops.Any();
		}

		<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
			<a class="btn btn-warning @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Laptop"
		   asp-action="Index"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-cpu="@Model.Cpu"
		   asp-route-ram="@Model.Ram"
		   asp-route-ssdCapacity="@Model.SsdCapacity"
		   asp-route-videoCard="@Model.VideoCard"
		   asp-route-keyWord="@Model.Keyword"
		   asp-route-sorting="@((int)Model.Sorting)">Next</a>
		</div>
	</div>

	<div>
		<h6 class="text-center">Page @Model.CurrentPage / @maxPage</h6>
	</div>
}
