@model LaptopsQueryModel

@{
	ViewData["Title"] = "All laptops";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

<hr />

<partial name="_IndexButtonsPartial" model="@Model.Laptops" />

<br />

<form method="get">
	<div class="row">
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Cpu">CPU model</label>
				<select asp-for="Cpu" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.Cpus)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Ram">RAM</label>
				<select asp-for="Ram" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.Rams)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="SsdCapacity">SSD capacity</label>
				<select asp-for="SsdCapacity" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.SsdCapacities)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="VideoCard">Video card model</label>
				<select asp-for="VideoCard" class="form-control">
					<option value="">All</option>
					@foreach (var category in Model.VideoCards)
					{
						<option value="@category">@category</option>
					}
				</select>
			</div>
		</div>
	</div>

	<br />

	<div class="row">
		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="KeyWord">Search by a keyword</label>
				<input asp-for="KeyWord" class="form-control" placeholder="...">
			</div>
		</div>

		<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="Sorting">Sort by</label>
				<select asp-for="Sorting" class="form-control">
					<option value="0">Newest</option>
					<option value="1">Brand</option>
					<option value="2">Price(from min to max)</option>
					<option value="3">Price(from max to min)</option>
				</select>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="form-group mt-4 p-2">
			<input type="submit" value="Search" class="btn btn-primary" />
		</div>
	</div>
</form>


<partial name="_IndexTablePartial" model="@Model.Laptops" />
